button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 20px 0 20px 0;
}

.category {
  padding: 8px;
  margin: 5px;
  color: #a6a6a6;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #a6a6a6;
  text-decoration: none;
}

/* .category:checked {
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #a6a6a6;
  background-color: #a6a6a6;
  color: black;
} */
