.OrderForm {
  display: flex;
  flex-direction: column;
}

.orderInput {
  border: none;
  background-color: #a6a6a6;
  border-radius: 5px;
  padding: 10px 10px;
  color: white;
  margin: 1px 0;
}

.errorMsg {
  color: red;
}

.submitBtn {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background: #fb923c;
  /* var(--tg-theme-button-color); */
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 10px;
}
