.product {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
}

.img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: var(--tg-theme-button-color);
  border-radius: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100px;
  border-radius: 10px;
}

.price {
  display: flex;
  flex-direction: column;
}
