.product {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 80px;
  height: 80px;
  margin: 5px;
  background: var(--tg-theme-button-color);
  border-radius: 10px;
  object-fit: cover;
}

.title_desc {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.description {
  font-size: 14px;
  width: 160px;
  height: 20px;
  overflow: hidden;
}

.add-btn {
  width: 100px;
  border-radius: 10px;
}

.purchase {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.price {
  font-size: 18px;
  font-weight: 700;
}
