.product {
  display: flex;
  padding: 5px 15px 5px 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 85px;
  height: 85px;
  margin: 5px;
  background: var(--tg-theme-button-color);
  border-radius: 10px;
  object-fit: cover;
}

.title_desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  margin-left: 5px;
  row-gap: 5px;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.description {
  text-decoration: none;
  color: #a6a6a6;
}

.add-btn {
  width: 100px;
  border-radius: 10px;
  padding: 10px 15px;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  outline: none;
  cursor: pointer;
}

.purchase {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.quantity-buttons {
  display: flex;
  align-items: center;
}

.plus-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #54be60;
}

.minus-btn {
  padding: 10px;
  border: none;
  background: #fb923c;
  border-radius: 5px;
}

.quantity {
  margin: 5px;
}
